* {
    padding: 0;
    margin: 0;  
}

body {
    font-family: arial;
    background-color: #FFFBEB;
    color: white;
    color: #000;
}

p {
    line-height: 1.5;
}

h1, h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: gray;
}

img {
    max-width: 100%
}

/*** UTILITIES ***/
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    background-color: #FFF;
}

.intro-page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    text-align: justify;
}

.form-intro {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 40px;
}

.form-intro h3{
    color: #DDB100;
}

.btn {
    display: block;
    margin: 40px auto;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: #dab10d;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
	background-color: #dab10d;
	transition: .2s ease-in-out;
	border-left: 3px transparent solid;
	border-right: 3px transparent solid;
}

.btn:hover {
	color: #dab10d;
	background-color: black;
	border-left: #dab10d 10px solid;
	border-right: #dab10d 10px solid;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #FFF;
    padding: 20px;
}

.form-register{
    margin: 10px;
}

.input-group {
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

label {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    border-collapse:collapse;
    width: 200px;
}

input {
    position: inline;
    width: 50.5%;
    margin: auto;
    padding: 10px;
    border: 1px solid #DDB100;
    /*opacity: 0.15;*/
}

select {
    display: block;
    width: 52%;
    margin: auto;
    padding: 10px;
    border: 1px solid #DDB100;
}

.text-blank {
    padding-top: 30px;
    justify-content: center;
    text-align: center;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
}

table tr th{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(221, 177, 0), rgba(255,251,235), rgba(0,0,0));
    border-image-slice: 1;
}



